@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    position: relative;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --PrimaryColor: #007DC0;
    --SecondaryColor: #241A14;
    --blueColor: #0294DF;
    --BlackShade: #1C1C1C;
    --black: #000;
    --white: #FFF;
}

p {
    font-family: "Jost", sans-serif; 
}


/* Header Starts */

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar-brand {
    max-width: 150px;
}

.navbar-brand img {
    width: 100%;
    height: auto;
}

.navbar .nav-item {
    margin: 0px 10px;
}

.navbar .nav-item .nav-link {
    font-size: 15px;
    font-weight: 600;
    color: var(--black);
    text-transform: uppercase;
}

.navbar .nav-item .nav-link.active {
    color: var(--PrimaryColor);
}

.button {
    display: inline-block;
    color: var(--PrimaryColor);
    border: 2px solid var(--PrimaryColor);
    font-weight: 500;
    text-decoration: none;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-shadow: 0 0 1px rgba(255, 255, 255, .3);
    white-space: nowrap;
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
}

.button::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    padding: 10px 25px;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%);
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    text-transform: uppercase;
}

.button span {
    display: block;
    padding: 10px 25px;
    background-color: #fff;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);    
    text-transform: uppercase;
}

.button:hover span {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.button.button--transparent::before {
    background-color: var(--PrimaryColor);
    color: #fff;
}

.button:focus::before,
.button:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.button.btn--theme::before {
    background-color: var(--black);
    color: #FFF;
}

.button.btn--theme span {
    background-color: var(--PrimaryColor);
    color: var(--white);
}

.button.btn--theme:hover {

    border-color: var(--black);
}

.hr-bottom {
    background: url('../images/hr-bottom.png') no-repeat;
    width: 101px;
    height: 16px;
    border: none;
    margin: 30px auto;
}


/* Header Ends */


/* Banner Starts */

.hero-banner {
    padding: 120px 12px;
    background-image: url('../images/banner1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    text-align: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000c2;
    opacity: 0.7;
    z-index: -1;
    top: 0;
    left: 0;
}

.title {
    font-size: 65px;
    font-weight: 800;
    color: #FFF;
}

.title span {
    position: relative;
    padding: 0px 15px;
    display: inline-block;
}

.title span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: var(--PrimaryColor);
    z-index: -1;
    transform: skewX(10deg);
    left: 0px;
    right: 0;
}

.para {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    max-width: 550px;
    margin: 0px auto 30px;
}

.hero-banner .hr-bottom {
    margin: 25px auto;
    filter: brightness(5);
    opacity: 1;
}

/* Banner Ends */

/* About us section Starts */
<<<<<<< HEAD
.about-section {
    padding: 100px 0;
}

.sub-title {
    font-size: 35px;
    font-weight: 700;
}

.sub-title-color {
    color: #1E3489;
=======

.about-wrapper {
    padding: 100px 0px;
}

.sub-title {
    position: relative;
    display: inline-block;
    color: var(--PrimaryColor);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2.2px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-title::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--PrimaryColor);
    top: 50%;
    transform: translate(0%, -50%);
    left: 0px;
}

.second-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--BlackShade);
}

.para-text {
    font-size: 18px;
    max-width: 570px;
    font-weight: 400;
    line-height: 26px;
    color: #a3a3a3;
}

.img-design {
    position: relative;
}

.img-design::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--PrimaryColor);
    bottom: -20px;
    right: -20px;
    z-index: -1;
}

.img-design img {
    box-shadow: 3px 9px 9px 0px #0000001f;
>>>>>>> a5ee76746a58604aa4080c748181ff52cb9d63c2
}

/* About us Section Ends */

<<<<<<< HEAD
/* ==================================================================
about us page css start
===================================================================== */

/* banner section  */
.abour-us-page .hero-banner-about-page {
    /* padding: 50px 0; */
    min-height: 10vh;
}

/* banner  section end */

.about-title {
    font-size: 50px;
}

.img-div {
    max-width: 700px;
    height: auto;
}

.img-div img {
    width: 100%;
    height: 100%;
}

.about-section {
    padding: 100px 0;
}

.sub-title {
    font-size: 35px;
    font-weight: 700;
}

.sub-title-color {
    color: #1E3489;
}

.text-lorem {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin: 20px auto 20px;
}

.abour-us-page .about-section .btn-bg-color span {
    background-color: #1E3489;
}

/* footer strat */
.com-logo-img {
    max-width: 150px;
    height: auto;
}

.com-logo-img img {
    width: 100%;
    height: 100%;
}

.footer-text {
    font-size: 16px;
    font-weight: 500;

}

/* footer end  */


/* ==================================================================
about us page css end
======================================================================= */

/* ===========================================================
footere
=============================================================  */
footer a {
    text-decoration: none !important;

}

.footer {
    background-color: #000;
    padding: 100px 0;

}

.contact-us li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-us li span i {
    color: #0294DF;
    margin-right: 10px;
}

.social-media-link {
    border-bottom: 1px solid #0294DF;
    margin-top: 100px;
}

/* ================================================
footer
=================================================== */
=======
/* Our products Section starts */

.our-products {
    padding: 70px 0px;
}

.pro-wrapper {
    background-color: #007cbe1f;
    padding: 14px;
    transition: 0.3s all ease-in-out;
    height: 100%;
}

.pro-wrapper .img-wrapper{
    border: 1px solid #f5f5f5;
    height: 350px;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

.pro-wrapper .img-wrapper img {
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease;
}

.pro-wrapper .heading-wrapper {
    padding: 15px 0px;
}

.pro-wrapper .heading-wrapper .heading {
    font-size: 20px;
    color: var(--PrimaryColor);
    font-weight: 700;
}

.pro-wrapper .heading-wrapper .text {
    font-size: 16px;
    line-height: 23px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #00000082;
    margin-bottom: 0px;
}

.pro-wrapper:hover .img-wrapper img {
    transform: scale(1.07);
    transition: 0.3s all ease-in-out;
}

/* Our products Section Ends */

/* cta-wrapper Starts */

.cta-wrapper {
    background: url('../images/silhouette-team-engineers-construction-site-sunset-generative.png') no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0px;
    margin: 0px 0px;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.cta-wrapper::before { 
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000a3;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cta-wrapper .hr-bottom {
    opacity: 0.8;
    filter: brightness(5);
}

.cta-heading {
    font-size: 45px;
    font-weight: 700;
    color: var(--white);
}

.cta-para {
    font-size: 20px;
    line-height: 23px;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    color: #FFF;
    max-width: 440px;
    display: block;
}

/* cta-wrapper Ends */



/* Home page Responsive Starts */

@media (max-width: 992px) {
    .navbar-toggler {
        border: 2px solid var(--PrimaryColor);
        border-radius: 0px ;
        box-shadow: none !important;
        transition: 0.3s all;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 8vw;
    }
}

/* Home page Responsive Ends */
>>>>>>> a5ee76746a58604aa4080c748181ff52cb9d63c2
