@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    position: relative;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --PrimaryColor: #007DC0;
    --SecondaryColor: #241A14;
    --blueColor: #0294DF;
    --BlackShade: #1C1C1C;
    --black: #000;
    --white: #FFF;
}

p {
    font-family: "Jost", sans-serif;
}


/* Header Starts */

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar-brand {
    max-width: 150px;
}

.navbar-brand img {
    width: 100%;
    height: auto;
}

.navbar .nav-item {
    margin: 0px 20px;
}

.navbar .nav-item .nav-link {
    font-size: 15px;
    font-weight: 600;
    color: var(--black);
    text-transform: uppercase;
    transition: 0.3s all;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar .nav-item .nav-link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--PrimaryColor);
    left: 0px;
    bottom: 0;
    transition: 0.3s all;
}

.navbar .nav-item .nav-link:hover {
    color: var(--PrimaryColor);
}

.navbar .nav-item .nav-link:hover::before {
    width: 100%;
}

.navbar .nav-item .nav-link.active {
    color: var(--PrimaryColor);
}

.button {
    display: inline-block;
    color: var(--PrimaryColor);
    border: 2px solid var(--PrimaryColor);
    font-weight: 500;
    text-decoration: none;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-shadow: 0 0 1px rgba(255, 255, 255, .3);
    white-space: nowrap;
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
}

.button::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    padding: 10px 25px;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%);
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    text-transform: uppercase;
}

.button span {
    display: block;
    padding: 10px 25px;
    background-color: #fff;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    text-transform: uppercase;
}

.button:hover span {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.button.button--transparent::before {
    background-color: var(--PrimaryColor);
    color: #fff;
}

.button:focus::before,
.button:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.button.btn--theme::before {
    background-color: var(--black);
    color: #FFF;
}

.button.btn--theme span {
    background-color: var(--PrimaryColor);
    color: var(--white);
}

.button.btn--theme:hover {

    border-color: var(--black);
}

.hr-bottom {
    background: url('../images/hr-bottom.png') no-repeat;
    width: 101px;
    height: 16px;
    border: none;
    margin: 30px auto;
}


/* Header Ends */


/* Banner Starts */

.hero-banner {
    padding: 120px 12px;
    background-image: url('../images/banner1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    text-align: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000c2;
    opacity: 0.7;
    z-index: -1;
    top: 0;
    left: 0;
}

.title {
    font-size: 65px;
    font-weight: 800;
    color: #FFF;
}

.title span {
    position: relative;
    padding: 0px 15px;
    display: inline-block;
}

.title span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: var(--PrimaryColor);
    z-index: -1;
    transform: skewX(10deg);
    left: 0px;
    right: 0;
}

.para {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    max-width: 550px;
    margin: 0px auto 30px;
}

.hero-banner .hr-bottom {
    margin: 25px auto;
    filter: brightness(5);
    opacity: 1;
}

/* Banner Ends */

/* About us section Starts */
.about-section {
    padding: 100px 0;
}

.sub-title {
    font-size: 35px;
    font-weight: 700;
}

.sub-title-color {
    color: #1E3489;
}

.about-wrapper {
    padding: 100px 0px;
}

.sub-title {
    position: relative;
    display: inline-block;
    color: var(--PrimaryColor);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px !important;
    letter-spacing: 2.2px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-title::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--PrimaryColor);
    top: 50%;
    transform: translate(0%, -50%);
    left: 0px;
}

.second-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--BlackShade);
}

.para-text {
    font-size: 18px;
    max-width: 570px;
    font-weight: 400;
    line-height: 26px;
    color: #a3a3a3;
}

.img-design {
    position: relative;
}

.img-design::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--PrimaryColor);
    bottom: -20px;
    right: -20px;
    z-index: -1;
}

.img-design img {
    box-shadow: 3px 9px 9px 0px #0000001f;
}

/* About us Section Ends */

/* ==================================================================
about us page css start
===================================================================== */

/* banner section  */
.hero-banner-about-page {
    /* padding: 50px 0; */
    min-height: 10vh;
}

/* banner  section end */

.breadcrumb-page {
    font-size: 18px;
    color: white;
    font-weight: 700;

}


/* ==================================================================
about us page css end
======================================================================= */

/* ===========================================================
footere
=============================================================  */


a {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.footer-text {
    font-size: 18px;
}

.com-logo-img {
    max-width: 150px;
    height: auto;
}

.com-logo-img img {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #000;
    padding: 100px 10px 50px 10px;
    margin-top: 100px;

}

.contact-us li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-us li span i {
    color: #0294DF;
    margin-right: 10px;
}

.social-media-link {
    border-top: 1px solid #0294DF;
    margin-top: 100px;
    padding: 50px 0 0 0;
}

.social-media li {
    list-style: none;
}

.social-media li a {
    margin-right: 30px;

}

.social-media li a i {
    border: 1px solid white;
    border-radius: 100%;
    padding: 15px;
    background-color: #0294DF;
}

@media(max-width:1200px) {
    .footer {
        padding: 80px 0;
        margin-top: 80px;
    }

    .social-media-link {
        margin-top: 20px;
    }
}

@media(max-width:992px) {
    .footer {
        padding: 80px 0;
        margin-top: 50px;
    }

    .social-media-link {
        margin-top: 20px;
    }



}



@media(max-width:768px) {
    .footer {
        padding: 30px 0;
    }

    .social-media li a i {
        padding: 10px;
    }

    .social-media {
        justify-content: center !important;
    }

    .social-media-link p {
        text-align: center;

    }
}

@media(max-width:576px) {
    .footer {
        padding: 30px 0;
    }
}

@media(max-width:480px) {}

/* ================================================
footer end
=================================================== */
/* Our products Section starts */

.our-products {
    padding: 70px 0px;
}

.pro-wrapper {
    background-color: #007cbe1f;
    padding: 14px;
    transition: 0.3s all ease-in-out;
    height: 100%;
}

.pro-wrapper .img-wrapper {
    border: 1px solid #f5f5f5;
    height: 350px;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

.pro-wrapper .img-wrapper img {
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease;
}

.pro-wrapper .heading-wrapper {
    padding: 15px 0px;
}

.pro-wrapper .heading-wrapper .heading {
    font-size: 20px;
    color: var(--PrimaryColor);
    font-weight: 700;
}

.pro-wrapper .heading-wrapper .text {
    font-size: 16px;
    line-height: 23px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #00000082;
    margin-bottom: 0px;
}

.pro-wrapper:hover .img-wrapper img {
    transform: scale(1.07);
    transition: 0.3s all ease-in-out;
}

/* Our products Section Ends */

/* cta-wrapper Starts */

.cta-wrapper {
    background: url('../images/silhouette-team-engineers-construction-site-sunset-generative.png') no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0px;
    margin: 0px 0px;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.cta-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000a3;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cta-wrapper .hr-bottom {
    opacity: 0.8;
    filter: brightness(5);
}

.cta-heading {
    font-size: 45px;
    font-weight: 700;
    color: var(--white);
}

.cta-para {
    font-size: 20px;
    line-height: 23px;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    color: #FFF;
    max-width: 440px;
    display: block;
}

/* cta-wrapper Ends */



/* / Home page Responsive Starts / */

@media (max-width: 1200px) {
    .title {
        font-size: 59px;
    }
}

@media (max-width: 992px) {
    .navbar-toggler {
        border: 2px solid var(--PrimaryColor);
        border-radius: 0px;
        box-shadow: none !important;
        transition: 0.3s all;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M4.59 59.41a2 2 0 0 0 2.83 0L32 34.83l24.59 24.58a2 2 0 0 0 2.83-2.83L34.83 32 59.41 7.41a2 2 0 0 0-2.83-2.83L32 29.17 7.41 4.59a2 2 0 0 0-2.82 2.82L29.17 32 4.59 56.59a2 2 0 0 0 0 2.82z" fill="%23000000" opacity="1" data-original="%23000000"></path></g></svg>');
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .navbar-toggler:hover {
        background-color: var(--PrimaryColor);
    }

    .navbar .nav-item {
        margin: 0px 0px;
    }

    .about-wrapper,
    .cta-wrapper {
        padding: 70px 0px;
    }

    .second-title,
    .cta-heading {
        font-size: 38px;
    }

    .para-text {
        max-width: 100%;
    }

    .cta-para {
        font-size: 18px;
    }
}

@media (max-width: 767px) {

    .hero-banner {
        min-height: 70vh;
        padding: 70px 12px;
    }

    .title {
        font-size: 46px;
    }

    .second-title,
    .cta-heading {
        font-size: 35px;
    }

    .about-wrapper,
    .cta-wrapper,
    .our-products {
        padding: 40px 0px;
    }

    .pro-wrapper .img-wrapper {
        height: 220px;
    }
}

@media (max-width: 576px) {

    .navbar .nav-item .nav-link {
        font-size: 14px;
        padding: 5px 0px;
    }

    .hero-banner {
        min-height: 100%;
    }

    .button {
        font-size: 14px;
    }

    .title {
        font-size: 40px;
    }

    .para {
        line-height: normal;
    }

    .second-title,
    .cta-heading {
        font-size: 30px;
    }

    .img-design {
        width: 96%;
    }

    .pro-wrapper .img-wrapper {
        height: auto;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 36px;
    }

    .second-title,
    .cta-heading {
        font-size: 28px;
    }

    .pro-wrapper .heading-wrapper .heading {
        font-size: 18px;
    }
}

/* / Home page Responsive Ends /' */




/* / Contact us page Starts / */

.banner-small {
    min-height: 100%;
}

.contact-wrapper {
    padding: 100px 0px;
}

.info-widget .info-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--BlackShade);
}

.info-widget p {
    max-width: 350px;
    line-height: normal;
}

.info-widget a {
    display: block;
    text-decoration: none;
    color: var(--BlackShade);
    opacity: 0.8;
    line-height: 30px;
    transition: 0.3s all;
    font-weight: 400;
}

.info-widget a:hover {
    color: var(--PrimaryColor);
    opacity: 1;
}

.map-wrapper {
    box-shadow: 3px 8px 10px 2px #00000017;
    height: 450px;
}

.form-wrapper {
    margin: 50px 0px;
    box-shadow: 3px 8px 10px 2px #00000017;
    padding: 30px;
}

.form-wrapper .form-control {
    border-radius: 0px !important;
    height: 46px;
}


/* / Contact us Page Ends / */